/* Example: Change the background color of the navbar */

/* .navbar {
    background-color: #703232;
    background-color: #FFFFFF !important;
} */

:root {
    --custom-info-color: #2C5784;
    --custom-success-color: #377771; 
    --custom-danger-color: #c44247; 
    --custom-warning-color: #B66D0D; 
}

.body-main {
    background-color: #F6F6F6;
}

.nav-link {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #BABABA;
}

.nav-pills .nav-link:hover {
    background-color: #703232;
    color: #BABABA !important;
}

#sidebar-main {
    border-radius: 10px;
    /* background-color: #F6F6F6; */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background-color: #703232 !important;
}

.bg-secondary {
    background-color: #BABABA !important;
}

.text-primary {
    color: #703232 !important;
}

.text-secondary {
    color: #BABABA;
}

.main {
    background-color: #F6F6F6;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #F6F6F6;
}

h1 {
    font-weight: bold;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.fs-1 {
    font-size: 60px !important;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border: none;
}

.card-header {
    background-color: #703232;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #703232 !important;
    color: #FFFFFF;
    border: none;
}

.btn-link {
    color: #703232 !important;
    text-decoration: none;
}

.form-check-input:checked {
    background-color: #703232 !important;
    border-color: #703232;
    color: #FFFFFF;
}

.input-group {
    height: 50px;
}

.input-group-text {
    background-color: #FFFFFF !important;
    color: #9b9a9a;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.card-header {
    background-color: #FFFFFF;
    color: #703232;
}

.btn-kembali,
.btn-hantar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-students {
    border: 1px solid #70323240;
}